<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longmai.datakeeper.dao.mapper.MenuMapper">

    <select id="selectMenuByRoleId" parameterType="long" resultType="com.longmai.datakeeper.dao.po.MenuPo" >
        select * from dk_menu t1
        inner join dk_roles_menus t2
        on t1.id = t2.menu_id
        where hidden = 0 and t2.role_id in
        <foreach collection="roleIds" item="roId" open="(" separator="," close=")" >
            #{roId}
        </foreach>
    </select>

</mapper>
